.login-container {
  display: flex;
  justify-content: space-between;
}

.login-banner {
  width: 50vw;
  height: 100vh;
  object-fit: cover;
  transition: all 200ms;
}

.login-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  transition: all 200ms;
}

.login-card {
  background-color: var(--gray-300);
  padding: 8rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  gap: 2rem;
  transition: all 200ms;
}

.login-title {
  width: 100%;
}

.login-logo {
  width: 12rem;
  height: auto;
  object-fit: fill;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.login-input {
  padding: 0.75rem;
  border-radius: 0.25rem;
  border: 1px var(--gray-900) solid;
  width: 30rem;
  transition: all 200ms;

  &.invalid {
    border-color: var(--danger-border);
  }
}

.login-input:focus {
  outline: none;
}

.login-error{
  color: var(--danger-border);
  text-align: left;
  width: 100%;
}

.login-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
  flex: 2;
  background-color: var(--gray-900);
  color: var(--white);
  border: none;
  border-radius: 0.25rem;
  width: fit-content;
  cursor: pointer;
  transition: all 100ms;
}

.login-button:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 6px var(--gray-500);
}

.login-links{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.login-link {
  text-decoration: none;
  cursor: pointer;
  color: var(--gray-700);
  text-align: right;
}

.login-social-buttons{
  display: flex;
  gap: 0.5rem;
}

.login-social-button{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  transition: all 200ms;
}

.login-social-button:hover {
  transform: scale(1.1);
  box-shadow: 1px 3px 6px var(--gray-500);
}

.facebook-btn{
  background-color: #1877F2;
  color: white;
}


@media (max-width: 1024px) {

  .login-container{
    background-color: var(--gray-300);
    height: 100vh;
  }

  .login-banner {
    display: none;
  }

  .login-card-container {
    width: 100%;
  }

  .login-card {
    padding: 4rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 0;
    transition: all 200ms;
    width: 100%;
  }

  .login-input{
    width: 100%;
  }
}
