$icomoon-font-family: "kiosko-icons-2" !default;
$icomoon-font-path: "fonts" !default;

$icon-home-bold: unquote('"\\e900"');
$icon-qr: unquote('"\\e901"');
$icon-account-filled: unquote('"\\e902"');
$icon-angle-double-left-bold-filled: unquote('"\\e903"');
$icon-angle-double-left-small-bold-filled: unquote('"\\e904"');
$icon-arrow-back-bold-filled: unquote('"\\e905"');
$icon-arrow-down-bold: unquote('"\\e906"');
$icon-arrow-dropdown-bold: unquote('"\\e907"');
$icon-arrow-left-bold-filled: unquote('"\\e908"');
$icon-attachment-bold-filled: unquote('"\\e909"');
$icon-bell-bold-filled: unquote('"\\e90a"');
$icon-cart-bold-filled: unquote('"\\e90b"');
$icon-mini-cart-bold: unquote('"\\e90c"');
$icon-cart-bold: unquote('"\\e90d"');
$icon-add-cart-bold: unquote('"\\e90e"');
$icon-check-mark-bold-filled: unquote('"\\e90f"');
$icon-close-bold-filled: unquote('"\\e910"');
$icon-down-load-bold-filled: unquote('"\\e911"');
$icon-edit-bold-filled: unquote('"\\e912"');
$icon-facebook-bold-filled: unquote('"\\e913"');
$icon-fast-delivery-filled: unquote('"\\e914"');
$icon-fast-delivery-filled1: unquote('"\\e915"');
$icon-location-filled: unquote('"\\e916"');
$icon-payment-filled: unquote('"\\e917"');
$icon-search-filled: unquote('"\\e918"');
$icon-service-filled: unquote('"\\e919"');
$icon-store-filled: unquote('"\\e91a"');
$icon-account-light: unquote('"\\e91b"');
$icon-angle-double-left-light: unquote('"\\e91c"');
$icon-angle-double-left-small-light: unquote('"\\e91d"');
$icon-arrow-back-light: unquote('"\\e91e"');
$icon-arrow-down-light: unquote('"\\e91f"');
$icon-arrow-dropdown-light: unquote('"\\e920"');
$icon-calendar-filled: unquote('"\\e921"');
$icon-attachment-light: unquote('"\\e922"');
$icon-bell-light: unquote('"\\e923"');
$icon-cart-light: unquote('"\\e924"');
$icon-mini-cart-light: unquote('"\\e925"');
$icon-cart-light1: unquote('"\\e926"');
$icon-add-cart-light: unquote('"\\e927"');
$icon-check-mark-light: unquote('"\\e928"');
$icon-close-light: unquote('"\\e929"');
$icon-down-load-light: unquote('"\\e92a"');
$icon-edit-light: unquote('"\\e92b"');
$icon-facebook-light: unquote('"\\e92c"');
$icon-fast-delivery-light: unquote('"\\e92d"');
$icon-delivery-light: unquote('"\\e92e"');
$icon-link-light: unquote('"\\e92f"');
$icon-lock-light: unquote('"\\e930"');
$icon-camera-filled: unquote('"\\e931"');
$icon-check-list-filled: unquote('"\\e932"');
$icon-clock-filled: unquote('"\\e933"');
$icon-payment-light: unquote('"\\e934"');
$icon-credit-card-filled: unquote('"\\e936"');
$icon-discount-filled: unquote('"\\e937"');
$icon-search-light: unquote('"\\e938"');
$icon-exclamation-triangle-filled: unquote('"\\e939"');
$icon-store-light: unquote('"\\e93a"');
$icon-hangtag-filled: unquote('"\\e93b"');
$icon-linkoff-filled: unquote('"\\e93c"');
$icon-lock-filled: unquote('"\\e93d"');
$icon-note-filled: unquote('"\\e93e"');
$icon-ph-on-e-filled: unquote('"\\e93f"');
$icon-plus-filled: unquote('"\\e940"');
$icon-refresh-filled: unquote('"\\e941"');
$icon-star-filled: unquote('"\\e942"');
$icon-three-dots-horizontal-filled: unquote('"\\e943"');
$icon-trash-filled: unquote('"\\e944"');
$icon-warning-filled: unquote('"\\e945"');
$icon-arrow-right-light: unquote('"\\e946"');
$icon-arrow-up-light: unquote('"\\e947"');
$icon-bookmark-light: unquote('"\\e948"');
$icon-check-box-light: unquote('"\\e949"');
$icon-check-list-light: unquote('"\\e94a"');
$icon-clock-light: unquote('"\\e94b"');
$icon-credit-card-light: unquote('"\\e94d"');
$icon-discount-light: unquote('"\\e94e"');
$icon-exclamation-triangle: unquote('"\\e94f"');
$icon-hangtag-light: unquote('"\\e950"');
$icon-location-light: unquote('"\\e951"');
$icon-note-light: unquote('"\\e952"');
$icon-phone-light: unquote('"\\e953"');
$icon-plus-light: unquote('"\\e954"');
$icon-refresh-light: unquote('"\\e955"');
$icon-star-light: unquote('"\\e956"');
$icon-three-dots-light: unquote('"\\e957"');
$icon-trash-light: unquote('"\\e958"');
$icon-warning-light: unquote('"\\e959"');
$icon-google-path1: unquote('"\\e935"');
$icon-google-path2: unquote('"\\e94c"');
$icon-google-path3: unquote('"\\e95a"');
$icon-google-path4: unquote('"\\e95b"');
$icon-warning-light: "\e959";
$icon-fork-and-spoon: "\e95c";
$icon-alpaca: "\e95d";
$icon-simple-pig: "\e95e";
$icon-scooter: "\e95f";
$icon-scooter-3: "\e960";
$icon-pizza: "\e961";
$icon-plus-18: "\e962";
$icon-family-planning-commission: "\e963";
$icon-mapping-and-geography: "\e964";
$icon-economic: "\e965";
$icon-educate: "\e966";
$icon-legislative: "\e967";
$icon-drug: "\e968";
$icon-airplane: "\e969";
$icon-headphones: "\e96a";
$icon-kidsmode: "\e96b";
$icon-call: "\e96c";
$icon-bus: "\e96d";
$icon-basketball: "\e96e";
$icon-gamepad: "\e96f";
$icon-glasses: "\e970";
$icon-bottle: "\e971";
$icon-car-1: "\e972";
$icon-cook-cap: "\e973";
$icon-bed: "\e974";
$icon-bicycle: "\e975";
$icon-bar: "\e976";
$icon-ambulance: "\e977";
$icon-birthday: "\e978";
$icon-shop: "\e979";
$icon-ice-cream: "\e97a";
$icon-humberger: "\e97b";
$icon-honey: "\e97c";
$icon-donuts: "\e97d";

