<nav class="navbar">
  <div class="navbar-brand">

    <span class="icon-home-bold navbar-icon-home"></span>
    <span class="navbar-title">Kiosko.com</span>
  </div>

  <ul class="navbar-tabs">
    <li class="navbar-tab navbar-tab-active">Client Portal</li>
    <li class="navbar-tab">Store Portal</li>
    <li class="navbar-tab">Admin Portal</li>
  </ul>

  <div class="navbar-actions">
    <button class="navbar-icon">

      <span class="icon-cart-light1"></span>
    </button>

    <button class="navbar-icon"
            (click)="loginPage()">
      <span class="icon-account-light"></span>
    </button>

    <button class="navbar-icon">
      <span class="icon-bell-light"></span>
    </button>
  </div>
</nav>
