.alert-close {
  background-color: transparent;
  border: none;
  color: transparent;
  cursor: pointer;
  font-size: 2rem;
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.alert-close:hover {
  color: var(--success-border);
}

.alert-container {
  align-items: center;
  background-color: var(--success-bg);
  border: 2px solid var(--success-border);
  border-left: 8px solid var(--success-border);
  border-radius: 0.5rem;
  bottom: 0.5rem;
  color: var(--black);
  display: flex;
  gap: 1rem;
  max-height: fit-content;
  padding: 1.25rem;
  right: 0.5rem;
  top: auto;
  width: 40rem;

  .alert-close {
    background-color: transparent;
    border: none;
    color: transparent;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  .alert-close:hover {
    color: var(--success-border);
  }

  .alert-icon {
    align-items: center;
    color: var(--success-border);
    display: flex;
    font-size: 2rem;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }
}

.alert-content-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.alert-error {
  background-color: var(--danger-bg);
  border: 2px solid var(--danger-border);
  border-left: 8px solid var(--danger-border);

  .alert-close:hover {
    color: var(--danger-border);
  }

  .alert-icon {
    color: var(--danger-border);
  }
}

.alert-info {
  background-color: var(--info-bg);
  border: 2px solid var(--info-border);
  border-left: 8px solid var(--info-border);

  .alert-close:hover {
    color: var(--info-border);
  }

  .alert-icon {
    color: var(--info-border);
  }
}

.alert-success {
  background-color: var(--success-bg);
  border: 2px solid var(--success-border);
  border-left: 8px solid var(--success-border);

  .alert-close:hover {
    color: var(--success-border);
  }

  .alert-icon {
    color: var(--success-border);
  }
}

.alert-title {
  font-size: large;
  font-weight: bold;
}

.alert-warning {
  background-color: var(--warning-bg);
  border: 2px solid var(--warning-border);
  border-left: 8px solid var(--warning-border);

  .alert-close:hover {
    color: var(--warning-border);
  }

  .alert-icon {
    color: var(--warning-border);
  }
}

.fade-in-right {
  -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
